h2 {
    font-size: 1.5em;
    text-align: left;
}

input[type=email]:disabled,
input[type=text]:disabled,
input[type=url]:disabled,
input[type=tel]:disabled,
select:disabled {
    background: #dddddd;
    color: rgba(0, 0, 0, 0.7);
}

input.wp_information_input {
    width: 250px;
}

input.wp_information_input.hide {
    padding: 2px;
    width: 100px;
}

section {
    display: flex;
}

div.boite {
    width: 45%;
    margin: 20px;
}

table tr {
    padding: 5px;
}

span#footer-thankyou,
p#footer-upgrade {
    display: none;
}

footer.wp_footer {
    bottom: 0;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.wp_url {
    color: #0073aa!important;
}

p#slog {
    font-size: 1.2em;
    width: 80%;
}

div#title_primary_settings {
    display: flex;
    width: 260px;
    justify-content: space-between;
}

div#title_primary_settings img {
    width: 50px;
    height: 50px;
}

div#slog_donate {
    display: flex;
}

div.avatar {
    display: flex;
    width: 170px;
    align-items: center;
}

div.avatar img {
    width: 25px;
    height: 25px;
}

section#first {
    margin-top: -50px;
}
